<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="main">
      <form method="POST" action="/new">
        <p>
          <label for="user" maxLength="20">Name:</label>
          <input type="text" id="user" name="user" required />
        </p>
        <p>
          <label for="text">Message:</label>
          <textarea id="text" name="text" maxlength="100" required></textarea>
        </p>
        <button>Submit</button>
      </form>
    </div>
  </body>
</html>
